.MuiBox-root a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 0px 1.1px #010101;
}
.MuiBox-root a:hover {
    color: #ffc451;
}

.MuiBox-root svg {
    transform: scale(1.8);
}
.css-1e30j0z:hover {

    cursor: pointer;
    border: 2px solid #ffc451;
}
